¦* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(133, 133, 133, 0.185);
}
.container {
    text-align: center;
}

#banner-img p {
    position: relative;
    top: 25%;
    color: white;
}
.btn-success {
background-color: rgb(63, 62, 62);
}
#banner-img {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .8)), url('/images/banner.png');
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.title {
    font-size: 2.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}

.white {
    color: rgb(255, 255, 255);
}

